/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    // height: 100vh;
    // background-image: url('https://wallpapers.com/images/high/free-background-06u0qugqlvqkkd7y.webp');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
}