<div class="config-option-selector" routerLink="teacher">
    <mat-icon>co_present</mat-icon>
    <h3>Profesores</h3>
    <p>Gestiona los profesores de la escuela</p>
</div>

<div class="config-option-selector" routerLink="subject">
    <mat-icon>menu_book</mat-icon>
    <h3>Asignaturas</h3>
    <p>Gestiona las asignaturas de la escuela</p>
</div>

<div class="config-option-selector" routerLink="course">
    <mat-icon>class</mat-icon>
    <h3>Cursos</h3>
    <p>Gestiona los cursos de la escuela</p>
</div>
